@charset "utf-8";

body{
  background-color;green;
}

#logo ul{
  overflow:hidden;
}

#logo li{
  display:table-cell;
  vertical-align:middle;
  float:left;
  list-style-type:none;
}

#logo img{
  width:100px;
}

#gnav a{
  display:block;
  padding:10px 0;
  text-align:center;
  text-decoration:none;
  background:darkgreen;
  color:white;
}

#gnav a{
  background:lightgreen;
  color:black;
}

#gnav a.selected{
  background:white;
  color:darkgreen;
  font-weight:bold;
}

.breadcrumbs li{
  display:inline;
  list-style-type:none;
}

.breadcrumbs li:before{
  content:">";
}

.breadcrumbs li:first-child:before{
  content:"";
}
